[Desktop Entry]
Name=Aero7
Comment=Windows 7 style glass window decoration
X-KDE-PluginInfo-Author=nixconfig
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=Aero7
X-KDE-PluginInfo-Version=1.0
